@font-face {
  font-family: "norsebold";
  src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
    url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

.hero-content {
  display: flex;
  flex: none;
  flex-direction: column;
  background-image: url("/imgs/halie-west-plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 1;
  background-color: #ecebeb;
}

.copy {
  padding: 30px;
}

.copy > p {
  padding-bottom: 25px;
}

.copy p,
.form p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: black;
}

.branding {
  display: flex;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 65%;
}

.logo {
  width: 100px;
  padding: 18px 0px;
}

.branding p {
  font-family: "norsebold";
  font-size: 95px;
}

.shoutout {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  padding-bottom: 18px;
}

.shoutout,
.shoutout a {
  color: white;
}

.form {
  background-color: white;
  padding: 30px;
}

.form-title {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: black;
  padding-bottom: 15px;
}

.form-group {
  display: flex;
  gap: 80px;
}

.form-row {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  width: 300px;
}

.form-row label {
  font-size: 14px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.form-button {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #596d48;
  padding: 12px 24px;
  border-radius: 10px;
}

.sign-in {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 14px;
}

.footer {
  padding: 20px 30px;
}

.footer a {
  font-weight: 600;
  color: #596d48;
}

/* INPUTS */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  /* padding: 20px 10px; */
  line-height: 24px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  border: 1px solid blue;
  color: blue;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

/* handle invalids */

input::placeholder {
  font-size: 14px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
}
